.footer {
    margin-top: 30px;
}

.footer .footer-content {
    margin-top: 55px;
    display: flex;
    justify-content: flex-end;
}

.footer .footer-content .column:nth-child(1) {
    margin-right: 35px;
}

.footer .footer-content .column:nth-child(2) {
    margin-right: 112px;
}

.footer .footer-content .column:nth-child(3) {
    margin-right: 37px;
}

.footer .footer-content .column .caption {
    font-size: 25px;
    letter-spacing: 0.6px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer .footer-content .column .list {
    margin-top: 38px;
}

.footer .footer-content .column .list li {
    line-height: 29px;
}

.footer .footer-content .column .list li a {
    color: #434343;
}


.footer .footer-content .column .subscribe-container {
    width: 377px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer .footer-content .column .subscribe-container .email {
    height: 69px;
    border: 1px solid #dedede;
}

.footer .footer-content .column .subscribe-container .email input {
    text-transform: uppercase;
    font-size: 14px;
    width: 12em;
}

.footer .footer-content .column .subscribe-container .subscribe {
    height: 51px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.footer .footer-content .column .social-container {
    display: flex;
    margin-top: 14px;
}

.footer .footer-content .column .social-container .social {
    margin-right: 10px;
}

.footer .footer-content .column .social-container .social i {
    display: block;
}

.footer .copyright {
    margin-top: 58px;
    margin-bottom: 232px;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright .copyright-text {
    margin-left: 21px;
    font-size: 14px;
}

.footer .copyright .designed-text {
    margin-right: 9px;
    font-size: 14px;
}