.header {
    display: flex;
    letter-spacing: 1.2px;
}

.header .logo-container {
    width: 189px;
    height: 128px;
    position: relative;
}

.header .logo-container .icon-logo {
    position: absolute;
    left: 18px;
    top: 19px;
}

.header .logo-container .copyright {
    position: absolute;
    top: 73px;
    background: rgba(255,255,255,0.9);
    width: 100%;
}

.header .logo-container .copyright .content{
    margin: 3px 0 6px 27px;
}

.header .menu-container {
    flex-grow: 1;
}

.header .menu-container .upper-container {
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header .menu-container .upper-container .container-element {
    color: #434343;
    margin-left: 29px;
}

.header .menu-container .lower-container {
    background: #f6f6f6;
    padding: 1px 0 1px 0;
    display: flex;
    justify-content: flex-end;
    height: 90px;
}

.header .menu-container .lower-container .container-element {
    height: 100%;
    width: 116px;
    margin-left: 5px;
}

.header .menu-container .lower-container .container-element.wide {
    width: 142px;
}

.header .menu-container .lower-container .container-element .link {
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu-container .lower-container .container-element .icon-gift {
    margin-left: 12px;
}

.header .menu-container .lower-container .container-element .icon-cart {
    margin-left: 5px;
}