.header {
    display: flex;
    letter-spacing: 1.2px;
}

.header .logo-container {
    height: 128px;
    position: relative;
    width: 189px;
}

.header .logo-container .icon-logo {
    left: 18px;
    position: absolute;
    top: 19px;
}

.header .logo-container .copyright {
    background: rgba(255, 255, 255, .9);
    position: absolute;
    top: 73px;
    width: 100%;
}

.header .logo-container .copyright .content{
    margin: 3px 0 6px 27px;
}

.header .menu-container {
    flex-grow: 1;
}

.header .menu-container .upper-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 37px;
    justify-content: flex-end;
}

.header .menu-container .upper-container .container-element {
    color: #434343;
    margin-left: 29px;
}

.header .menu-container .lower-container {
    background: #f6f6f6;
    box-sizing: border-box;
    display: flex;
    height: 92px;
    justify-content: flex-end;
    padding: 1px 0;
}

.header .menu-container .lower-container .container-element {
    height: 100%;
    margin-left: 5px;
    width: 116px;
}

.header .menu-container .lower-container .container-element.wide {
    width: 142px;
}

.header .menu-container .lower-container .container-element .link {
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.header .menu-container .lower-container .container-element .icon-gift {
    margin-left: 12px;
}

.header .menu-container .lower-container .container-element .icon-cart {
    margin-left: 5px;
}