*, body, html {
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto 0 auto;
    width: 1170px;
}

a, a:hover, a:visited {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

.gift-block {
    background: #00a1be;
    cursor: pointer;
    width: 51px;
}

.cart-block {
    background: #f0626e;
    cursor: pointer;
    width: 51px;
}

.price-block {
    align-items: center;  
    background: #323232;
    flex-grow: 1;
}

.price-block > div:before {
    content: "$ ";
    line-height: 18px;
    vertical-align: 2px;
}

.price-block .price-value{
    font-size:  24.45px;
}

.price-block .price-value sup{
    vertical-align: 8px;
}

.block-panel {
    display: flex;
}

.block-panel .block {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.blue-bg {
    background: #05aecc;
}

.red-bg {
    background: #f0626e;
}

.blue-text {
    color: #05aecc;
}

.red-text {
    color: #f0626e;
}

.section .section-header {
    align-items: flex-end;
    display: flex;
    width: 100%;
}

.section .section-header .space {
    border-bottom: 1px solid #b9b9b9;
}

.section .section-header .left-space {
    width: 28px;
}

.section .section-header .mid-space {
    flex-grow: 1;
}

.section .section-header .title {
    border-bottom: 1px solid #f0626e;
    color: #00a1be;
    font-size: 30px;
    font-weight: 500;
    line-height: 43px;
    padding-left: 3px;
    padding-right: 16px;
}

.section .section-header .button {
    background: #3c3c3c;
    cursor: pointer;
    height: 79px;
    width: 70px;
}

.section .section-header .next-button {
    margin-left: 1px;
}

.section .section-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
