*, body, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto 0 auto;
    width: 1170px;
}

a, a:hover, a:visited {
    text-decoration: none;
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

.blue-bg {
    background: #05aecc;
}

.red-bg {
    background: #f0626e;
}

.blue-text {
    color: #05aecc;
}

.red-text {
    color: #f0626e;
}

@font-face {
    font-family: Aparajita;
    src: url('/fonts/aparaj.ttf') format("truetype");
}

.gift-block {
    width: 51px;
    background: #00a1be;
}

.cart-block {
    width: 51px;
    background: #f0626e;
}

.price-block {
    flex-grow: 1;
    align-items: center;  
    background: #323232;
}

.price-block > div:before {
    content: "$ ";
    line-height: 18px;
    vertical-align: 2px;
}

.price-block .price-value{
    font-size:  24.45px;
}

.price-block .price-value sup{
    vertical-align: 8px;
}

.block-panel {
    display: flex;
}

.block-panel .block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}