.slider {
    margin-top: 15px;
}

.slider .aparajita {
    font-family: 'Aparajita', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.slider .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
}

.slider .row:nth-child(1) {
    margin-top: 0;
}

.slider .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider .img-block {
    position: relative;
}

.slider .text-block {
    background: rgba(54, 42, 79, 0.8);
    position: absolute;
    color: white;
}

.slider .men .text-block {
    width: 348px;
    display: flex;
    box-sizing: border-box;
}

.slider .men .header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 410px;
    height: 105px;
    padding-left: 21px;
}

.slider .men .header h4 {
    font-size: 58px;
    letter-spacing: 2.5px;
    line-height: 42px;
}

.slider .men .header p {
    font-size: 13px;
    text-transform: uppercase;   
    letter-spacing: 0.35px;
    line-height: 15px;
}

.slider .men .text {
    top: 517px;
    height: 41px;
    font-size: 20px;
    flex-direction: column;
    letter-spacing: 0.5px;
    background: rgba(239, 89, 102, 0.88);
}

.slider .women .text-block {
    top: 229px;
    width: 267px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
}

.slider .women .text-block h4 {
    font-size: 35px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.slider .women .text-block p {
    font-size: 12px;
    text-transform: uppercase;   
    letter-spacing: 0px;
    line-height: 14px;
    padding-left: 2px;
 }
 
.slider .kids .text-block {
    left: 202px;
    top: 162px;
    width: 292px;
    height: 55px;
}

.slider .kids .text {
    width: 103px;
}

.slider .kids .price {
    flex-grow: 1;
    align-items: center;  
    background: #323232;
}

.slider .kids .price .price-value {
    font-size:  24.45px;
}

.slider .search-box {
    width: 670px;
    height: 171px;
    letter-spacing: 1.3px;
}

.slider .search-box .rectangle {
    width: 485px;
    height: 71px;
    background: #fff;
    display: flex;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25    );
}

.slider .search-box .rectangle .input {
    flex-grow: 1;
    width: 217px;
    letter-spacing: 1.3px;
}

.slider .search-box .search {
    margin-left: 21px;
    background: transparent;
}

.slider .crafts .text-block {
    right: 0;
    bottom: 3px;
    width: 409px;
    height: 55px;
}

.slider .crafts .text-block .text {
    width: 203px;
    font-size: 30px;
    text-transform: uppercase;
}

.slider .jewelry .text-block {
    right: -309px;
    bottom: -83px;
    width: 396px;
    height: 87px;
    font-size: 64px;
	transform: rotate(-90deg);
	transform-origin: left top 0;
    display: flex;
    align-items: flex-end;
    padding-left: 24px;
    box-sizing: border-box;
}

.slider .jewelry .button-container {
    right: 0;
    top: 132px;
    width: 97px;
    height: 86px;
    position: absolute;
}

.slider .jewelry .button-container .button {
    margin-left: 2px;
    margin-top: 1px;
}

.slider .jewelry .button-back {
    right: 87px;
    top: 218px;
    position: absolute;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #c6535d;
}