.slider {
    margin-top: 15px;
}

.slider .aparajita {
    font-family: 'Aparajita', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

.slider .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
}

.slider .row:nth-child(1) {
    margin-top: 0;
}

.slider .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider .img-block {
    position: relative;
}

.slider .img-block > img {
    cursor: pointer;
}

.slider .text-block {
    background: rgba(54, 42, 79, .8);
    color: white;
    position: absolute;
}

.slider .men .text-block {
    box-sizing: border-box;
    display: flex;
    width: 348px;
}

.slider .men .header {
    align-items: flex-start;
    flex-direction: column;
    height: 105px;
    justify-content: center;
    padding-left: 21px;
    top: 410px;
}

.slider .men .header h4 {
    font-size: 58px;
    letter-spacing: 2.5px;
    line-height: 42px;
}

.slider .men .header p {
    font-size: 13px;
    letter-spacing: .35px;
    line-height: 15px;
    text-transform: uppercase;
}

.slider .men .text {
    background: rgba(239, 89, 102, .88);
    flex-direction: column;
    font-size: 20px;
    height: 41px;
    letter-spacing: .5px;
    top: 517px;
}

.slider .women .text-block {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 83px;
    justify-content: center;
    padding-left: 15px;
    top: 229px;
    width: 282px;
}

.slider .women .text-block h4 {
    font-size: 35px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.slider .women .text-block p {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    padding-left: 2px;
    text-transform: uppercase;
 }
 
.slider .kids .text-block {
    height: 55px;
    left: 202px;
    top: 162px;
    width: 292px;
}

.slider .kids .text {
    width: 103px;
}

.slider .kids .price {
    align-items: center;  
    background: #323232;
    flex-grow: 1;
}

.slider .kids .price .price-value {
    font-size:  24.45px;
}

.slider .search-box {
    height: 171px;
    letter-spacing: 1.3px;
    width: 670px;
}

.slider .search-box .rectangle {
    background: #fff;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25    );
    display: flex;
    height: 71px;
    width: 485px;
}

.slider .search-box .rectangle .input {
    flex-grow: 1;
    letter-spacing: 1.3px;
    width: 217px;
}

.slider .search-box .search {
    background: transparent;
    cursor: pointer;
    margin-left: 21px;
}

.slider .crafts .text-block {
    bottom: 3px;
    height: 55px;
    right: 0;
    width: 409px;
}

.slider .crafts .text-block .text {
    font-size: 30px;
    text-transform: uppercase;
    width: 203px;
}

.slider .crafts .cart-block {
    position: relative;
}

.slider .crafts .cart-block .hint {
    bottom: 38px;
    display: none;
    left: 50%;
    margin-left: -55px;
    position: absolute;
}

.slider .crafts .cart-block:hover .hint {
    display: block;
}

.slider .crafts .cart-block .hint .hint-container {
    background: white;
    border: 1px solid #f0626e;
    border-radius: 4px;
    box-sizing: border-box;
    color: #434343;
    height: 29px;
    width: 111px;
}

.slider .crafts .cart-block .hint .arrow-container .arrow-container2 {
    position: relative;
}

.slider .crafts .cart-block .hint .arrow-container .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0626e;
}

.slider .crafts .cart-block .hint .arrow-container .arrow-bg {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid white;
    position: relative;
    top: -11px;
}

.slider .jewelry .text-block {
    align-items: flex-end;
    bottom: -83px;
    box-sizing: border-box;
    display: flex;
    font-size: 64px;
    height: 87px;
    padding-left: 24px;
    right: -309px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 396px;
}

.slider .jewelry .button-container {
    cursor: pointer;
    height: 86px;
    position: absolute;
    right: 0;
    top: 132px;
    width: 97px;
}

.slider .jewelry .button-container .button {
    margin-left: 2px;
    margin-top: 1px;
}

.slider .jewelry .button-back {
    border-bottom: 12px solid transparent;
    border-right: 10px solid #c6535d;
    position: absolute;
    right: 87px;
    top: 218px;
}